			<div class="site-footer">
        <div class="widget-area">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="widget">
                  <h3 class="widget-title">ЦФ АО "CК Виктория"</h3>
                  <address> улица Рыскулова 52, Талгар 041600
                  </address>
                  <a href="#">Телефон: 8 (727) 388 1578</a><br>
                  <a href="mailto:info@company.com">Почта: service@info.kz</a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget">
                  <h3 class="widget-title">Компания</h3>
                  <ul class="no-bullet">
                    <li><a href="/company">О компании</a></li>
                    <li><a href="/company/leaders">Руководство</a></li>
                    <!--<li><a href="#">Документы</a></li>-->
                    <li><a href="/company/career">Карьера</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget">
                  <h3 class="widget-title">Страхование</h3>
                  <ul class="no-bullet">
                    <li><a href="/insurance_case">Произошел страховой случай</a></li>
                    <li><a href="/company/loyalty">Карта лояльности</a></li>
                    <li><a href="/company/tips">Полезные советы</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget">
                  <h3 class="widget-title">Полисы</h3>
                  <ul class="no-bullet">
                    <li><a href="/insurance/kasko">Авто</a></li>
                    <li><a href="/insurance/goods">Недвижимость</a></li>
                    <li><a href="/insurance/tourism">Туризм</a></li>
                    <li><a href="/insurance/accident">Несчастный случай</a></li>
                  </ul>
                </div>
              </div>
      <!-- 							<div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget">
                  <h3 class="widget-title">Пресс-комната</h3>
                  <ul class="no-bullet">
                  <li><a href="#">Реклама</a></li>
                  <li><a href="#">Интервью</a></li>
                  <li><a href="#">Новости</a></li>
                  <li><a href="#">Фотографии</a></li>
                  <li><a href="#">Маркетинг</a></li>
                  </ul>
                </div>
              </div> -->
              <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="widget">
                  <h3 class="widget-title">Обратная связь</h3>
                  <ul class="no-bullet">
                    <li><a href="/company/requisites">Реквизиты</a></li>
                    <!--<li><a href="/company/branches">Филиалы</a></li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bottom-footer">
          <div class="container">
            <nav class="footer-navigation">
              <a href="/">Главная</a>
              <a href="/company">О нас</a>
              <a href="/products">Наши продукты</a>
              <a href="/insurance_case">Страховой случай</a>
              <a href="/contacts">Контакты</a>
            </nav>

            <div class="colophon"> © 2018 ЦФ АО "CК Виктория"</div>
          </div>
        </div>
      </div>
		</div>

<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/javascripts/inputmask.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-datepicker.js"></script>
<%if(url=="/"){%><script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script><%} %>
<%if(url=="contacts"){%><script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script><%} %>
<script type="text/javascript" src="/javascripts/plugins.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>

</body>

</html>
