				<div class="bottom-header">
					<div class="container">
						<div class="main-navigation">
							<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
							<ul class="menu">
								<li class="menu-item <%if(url=="index"){%>current-menu-item<%} %>" "><a href="/">Главная</a></li>
								<li class="menu-item <%if(url=="company"){%>current-menu-item<%} %>" "><a href="/company">О компании</a></li>
								<li class="menu-item <%if(url=="products"){%>current-menu-item<%} %>" "><a href="/products">Наши продукты</a></li>
								<li class="menu-item <%if(url=="insurance_case"){%>current-menu-item<%} %>" "><a href="/insurance_case">Cтраховой случай</a></li>
								<li class="menu-item <%if(url=="contacts"){%>current-menu-item<%} %>" "><a href="/contacts">Контакты</a></li>
							</ul> <!-- .menu -->
						</div> <!-- .main-navigation -->

						<div class="social-links">
							<a href="https://www.facebook.com/stdikz" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="https://www.twitter.com/Standard_kz" target="_blank"><i class="fa fa-twitter"></i></a>
							<a href="https://www.vk.com/stdikz" target="_blank"><i class="fa fa-vk"></i></a>
							<a href="https://www.instagram.com/stdikz" target="_blank"><i class="fa fa-instagram"></i></a>
						</div>

						<div class="mobile-navigation"></div>
					</div>
				</div>
			</header>
