<%- include inc_client/header.ejs %>
<%- include inc_client/menu.ejs %>

			<main class="main-content">
        <div class="breadcrumbs">
          <div class="container">
            <a href="/">Главная страница</a>
            <span><i class="fa fa-arrow-right"></i></span>
            <span><%= title %></span>
          </div>
        </div>

        <div class="page">
          <div class="fullwidth-block">
            <div class="container">
              <h1 class="entry-title">Новые стандарты страхования</h1>
              <p>В 1993 году с принятием Закона «О страховании» были заложены основы страховой системы независимой Республики Казахстан. В этом же году была создана Страховая компания «Виктория», которая успешно работает на рынке Республики Казахстан уже более 20 лет. За это время компания приобрела репутацию надежной, стабильной и ответственной компании и стала одним из лидеров страхового рынка. Надежность и финансовая устойчивость Страховой компании «Виктория» подтверждена рейтингом международного рейтингового агентства "A.M.Best Europe".
              </p>
              <br><br><br><br>
              <div class="features">
                <small class="section-subtitle">Принципы нашей работы</small>
                <div class="row">
                  <div class="col-md-4">
                    <div class="feature">
                      <i class="icon-team"></i>
                      <h3 class="feature-title">Развитие сотрудников</h3>
                      <p>Мы развиваем лояльность и профессионализм каждого сотрудника нашей компании.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature">
                      <i class="icon-man-time"></i>
                      <h3 class="feature-title">Обслуживание клиентов</h3>
                      <p>Мы предлагаем клиентам наиболее востребованные и оптимальные программы страховой защиты.
      Мы ценим оперативность и быстроту в работе с каждым клиентом.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature">
                      <i class="icon-graph-up-screen"></i>
                      <h3 class="feature-title">Эффективные модели управления</h3>
                      <p>Мы строим модели управления, основываясь на принципе эффективной синергии операционных и финансовых показателей</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="fullwidth-block" data-bg-color="#f1f1f1">
            <div class="container">
              <h2 class="section-title">Миссия</h2>
              <p align="center">Наша миссия -расширение возможностей клиента, предоставляя лучшую страховую защиту бизнеса, путешествий и имущества, опираясь на наш опыт и инновации.</p>
            </div>
          </div>
        </div>
      </main>

<%- include inc_client/footer.ejs %>
