<%- include inc_client/header.ejs %>
<%- include inc_client/menu.ejs %>

			<main class="main-content">
        <div class="breadcrumbs">
          <div class="container">
            <a href="/">Главная страница</a>
            <span><i class="fa fa-arrow-right"></i></span>
            <span><%= title %></span>
          </div>
        </div>

        <div class="page">
          <div class="fullwidth-block">
            <div class="container">
              <h1 class="entry-title">Новые стандарты страхования</h1>
              <p>ТОО «Страховая Компания «Жантас» осуществляет деятельность на рынке страхования Республики Казахстан на протяжении 10 лет. В том числе с 2016 года под брендом «Жантас». Компания является участником АО «Фонд гарантирования страховых выплат». <br> СК «Жантас» присвоен кредитный рейтинг на уровне В+ и рейтинг финансовой устойчивости на уровне С++ по международной шкале от ведущего международного рейтингового агентства «A.M. Best Company». <br> В 2017 году наша компания получила сертификаты системы менеджмента качества ISO 9001-2009 и ISO 14001-2004, как подтверждение нашего стремления предоставлять страховые услуги на высоком уровне. Мы сделаем все возможное, чтобы у каждого казахстанца была возможность получать лучшие предложения по страховым продуктам и достойный сервис. <br> Немаловажным фактором для успешного развития компании является и деятельность по перестрахованию рисков клиентов, осуществляемая за счет компаний-партнеров, зарекомендовавших себя на международном уровне: SCOR Перестрахование (рейтинг А, S&P, Россия), Advent Syndicate of Lloyd’s (рейтинг А+, S&P, Великобритания), Partner Re (рейтинг АА-, S&P, Швейцария). <br>  Новые стандарты страхования — это большая философия, отражающая основные принципы деятельности Компании, направленные на обслуживание клиентов, развитие сотрудников и внедрение эффективных моделей управления.
              </p>
              <br><br><br><br>
              <div class="features">
                <small class="section-subtitle">Принципы нашей работы</small>
                <div class="row">
                  <div class="col-md-4">
                    <div class="feature">
                      <i class="icon-team"></i>
                      <h3 class="feature-title">Развитие сотрудников</h3>
                      <p>Мы развиваем лояльность и профессионализм каждого сотрудника нашей компании.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature">
                      <i class="icon-man-time"></i>
                      <h3 class="feature-title">Обслуживание клиентов</h3>
                      <p>Мы предлагаем клиентам наиболее востребованные и оптимальные программы страховой защиты.
      Мы ценим оперативность и быстроту в работе с каждым клиентом.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature">
                      <i class="icon-graph-up-screen"></i>
                      <h3 class="feature-title">Эффективные модели управления</h3>
                      <p>Мы строим модели управления, основываясь на принципе эффективной синергии операционных и финансовых показателей</p>
                    </div>
                  </div>
                </div> <!-- .row -->
              </div>
            </div> <!-- .container -->
          </div> <!-- .fullwidth-block -->

          <div class="fullwidth-block" data-bg-color="#f1f1f1">
            <div class="container">
              <h2 class="section-title">Миссия</h2>
              <p align="center">Наша миссия -расширение возможностей клиента, предоставляя лучшую страховую защиту бизнеса, путешествий и имущества, опираясь на наш опыт и инновации.</p>
            </div> <!-- .container -->
          </div> <!-- .fullwidth-block -->
        </div> <!-- .page -->
      </main>

<%- include inc_client/footer.ejs %>
