<%- include inc_client/header.ejs %>
<%- include inc_client/menu.ejs %>

			<main class="main-content">
        <div class="breadcrumbs">
          <div class="container">
            <a href="/">Главная страница</a>
            <span><i class="fa fa-arrow-right"></i></span>
            <a href="/about">О компании</a>
            <span><i class="fa fa-arrow-right"></i></span>
            <span><%= title %></span>
          </div>
        </div>
        <div class="fullwidth-block">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="entry-title">Карьера в компании</h1>
                <p>   	Коллектив АО «СК Виктория — это сплоченная, дружная команда профессионалов, ориентированных на результат и личностный рост, способных видеть новые возможности и проявлять инициативу. Главный стратегический ресурс Компании – это наши работники. И все наши успехи – это, прежде всего, успехи самих работников. Мы – команда единомышленников, и благодаря опыту, знаниям и качественной работе каждого отдельного работника, Компания является одной из самых молодых и прогрессивных компаний в сфере страхования.</p>
              </div>
              <div class="col-md-12">
                <h2 class="entry-title">На данный момент нету вакансии</h2>
              </div>
            </div>
          </div>
        </div>
      </main>


<%- include inc_client/footer.ejs %>
