<%- include inc_client/header.ejs %>
<%- include inc_client/menu.ejs %>


			<div class="hero hero-slider">
				<ul class="slides">
					<li data-bg-image="images/bg_1.jpg">
						<div class="container">
							<div class="slide-content">
								<h2 class="slide-title">Бесплатные звонки с мобильного на <strong style="color:#284d87 !important;">7090</strong></h2>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt natus reprehenderit debitis fugit.</p> -->
								<a href="#" class="button">Подробная информация</a>
							</div>
						</div>
					</li>
					<li data-bg-image="images/mountain_car.jpg">
						<div class="container">
							<div class="slide-content">
								<h2 class="slide-title">Выбирай свой подарок при заказе полиса ОГПО на сайте</h2>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt natus reprehenderit debitis fugit.</p> -->
								<a href="#" class="button">Подробная информация</a>
							</div>
						</div>
					</li>
				</ul>
			</div> <!-- .hero-slider -->

			<main class="main-content">
				<div class="fullwidth-block greet-section">
					<div class="container">
						<h2 class="section-title">Страховая компания «Виктория»</h2>
						<small class="section-subtitle">Принципы нашей работы</small>
						<div class="row">
							<div class="col-md-4">
								<div class="feature">
									<i class="icon-team"></i>
									<h3 class="feature-title">Развитие сотрудников</h3>
									<p>Мы развиваем лояльность и профессионализм каждого сотрудника нашей компании.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature">
									<i class="icon-man-time"></i>
									<h3 class="feature-title">Обслуживание клиентов</h3>
									<p>Мы предлагаем клиентам наиболее востребованные и оптимальные программы страховой защиты.
Мы ценим оперативность и быстроту в работе с каждым клиентом.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature">
									<i class="icon-graph-up-screen"></i>
									<h3 class="feature-title">Эффективные модели управления</h3>
									<p>Мы строим модели управления, основываясь на принципе эффективной синергии операционных и финансовых показателей</p>
								</div>
							</div>
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->

				<div class="fullwidth-block" data-bg-color="#f1f1f1">
					<div class="container">
						<h2 class="section-title">Наше страховое предложение</h2>
						<div class="row">
							<!-- <div class="col-md-3">
								<div class="offer caption-top">
									<img src="images/house.jpg" alt="offer 1">
									<div class="caption">
										<h2 class="offer-title">Имущество</h2>
										<small></small>
									</div>
								</div>
							</div> -->
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">
										<div class="offer caption-bottom">
											<img src="images/business.jpg" alt="offer 2" style="height: 315px !important;">
											<div class="caption">
												<h2 class="offer-title">Несчастный случай</h2>
												<small></small>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="offer caption-bottom">
											<img src="images/auto-2.jpg" alt="offer 3">
											<div class="caption">
												<h2 class="offer-title">Авто</h2>
												<small></small>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="offer caption-bottom">
											<img src="images/goods.jpg" alt="offer 2" style="height: 265px !important;">
											<div class="caption">
												<h2 class="offer-title">Имущество</h2>
												<small></small>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="offer caption-bottom">
											<img src="images/travel.jpg" alt="offer 3">
											<div class="caption">
												<h2 class="offer-title">Путешествие</h2>
												<small></small>
											</div>
										</div>
									</div>
								</div>
							</div> <!-- .col-md-8 -->
						</div> <!-- .row -->

					</div> <!-- .container -->
				</div> <!-- .offer-section -->

				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Последние новости</h2>
						<div class="row news-list">
							<div class="col-md-4">
								<div class="news">
									<figure><img src="images/news-1.jpg" alt=""></figure>
									<div class="date"><img src="images/icon-calendar.png" alt="">16:30:59 2018-5-01</div>
									<h2 class="entry-title"><a href="#">Мы открылись</a></h2>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<figure><img src="images/news-2.jpg" alt=""></figure>
									<div class="date"><img src="images/icon-calendar.png" alt="">10:55:06 2018-4-25</div>
									<h2 class="entry-title"><a href="#">Наша компания</a></h2>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<figure><img src="images/news-3.jpg" alt=""></figure>
									<div class="date"><img src="images/icon-calendar.png" alt="">09:20:07 2018-5-10</div>
									<h2 class="entry-title"><a href="#">С днем победы</a></h2>
								</div>
							</div>
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .latest-news-section -->

				<div class="fullwidth-block" data-bg-color="#3D423E">
					<div class="container">
						<div class="testimonial-slider">
							<ul class="slides">
								<li>
									<blockquote><a href="">Страховая компания «Виктория» – надежная защита от рисковых ситуаций -></a></blockquote>
								</li>
								<li>
									<blockquote><a href="">Нужна помощь?</a></blockquote>
								</li>
							</ul>
						</div>
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->

				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Наши партнеры</h2>

						<div class="partners">
							<a href="#"><img src="images/client_1.jpg" alt="GASTCOMTRANS"></a>
							<a href="#"><img src="images/client_2.png" alt="KAZAKHTELEKOM"></a>
							<a href="#"><img src="images/client_3.png" alt="MANGISTAUMUNAIGAZ"></a>
							<a href="#"><img src="images/client_4.png" alt="KSPSTEEL"></a>

						</div> <!-- .partners -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->

				<div class="fullwidth-block">
					<div class="map"></div>
				</div>
			</main>

<%- include inc_client/footer.ejs %>
