<%- include inc_client/header.ejs %>
<%- include inc_client/menu.ejs %>

      <main class="main-content">
				<div class="breadcrumbs">
					<div class="container">
						<a href="/">Главная страница</a>
						<span><i class="fa fa-arrow-right"></i></span>
						<a href="/about">О компании</a>
						<span><i class="fa fa-arrow-right"></i></span>
						<span><%= title %></span>
					</div>
				</div>
				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="entry-title">Реквизиты</h1>
								<p> ТОО «Страховая компания «Жантас»
										<br>
									адрес: А25М6В0 (050059), город Алматы, Медеуский район, улица Джаркентская, дом 3.
										<br>
									БИН 080340004126
										<br>
									РНН 600900604669
										<br>
									ИИК (IBAN) KZ039261802150783000
										<br>
									в АО «Казкоммерцбанк»
										<br>
									БИК KZKOKZKX
										<br>
									КБе 15
										<br>
									8 (727) 258 70 90
										<br>
									service@info.kz
								</p>
							</div>
						</div>
					</div>
				</div>
			</main>


<%- include inc_client/footer.ejs %>
